.footerContainer{
    display: flex;
   position:fixed;
   bottom: 1px;
   width: 100%;
   padding: 0.10rem;
  background-color: #f2f2f2;
  max-width: 1200px;
   
}

.footer{
    width: 100%;
}
.item{
    flex-basis: 25%;
    cursor: pointer;
}

.item div{
    text-align: center;
}
.item img{
    width: clamp(40px, 3vw, 50px); 
    height: clamp(40px, 3vw, 50px);
}

.footerh3{
    margin: 0px;
}

.footerSpan{
    display: flex;
    position: absolute;
    top: 22%;
    right: 48%;
}